$layout-medium: 768px !default;
$layout-small: 480px !default;

$body-font: "Montserrat", sans-serif;

$light-color: #ffffff !default;
$grey-color: #545253 !default;
$blue-shadow-color: rgba(110, 183, 194, 0.37) !default;
$border-color: #D8D8D8 !default;
$input-color: #747375 !default;
$orange-color: #F6931D !default;
$green-color: #A0BC57 !default;
$blue-light-color: #6EB7C2 !default;
$savings-title-max-width: 404px !default;
$savings-line-width: 65px !default;
$savings-line-border-width: 2px !default;
$background-color-state-1: #ECF8FB !default;
$background-color-state-2: #EFEFEF !default;
$error-color: #D50303 !default;
$successs-color: #376043 !default;